{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    </head>
    <body
        style="
            font-family: 'Times New Roman', Times, serif;
            font-size: 11pt;
            line-height: 1.15;
            color: #000000;
            background-color: #ffffff;
            padding: 31.5pt 72pt 49.5pt 72pt;
            max-width: 451.5pt;
            margin: 0 auto;
        "
    >
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    rowspan="4"
                    style="
                        width: 88.8pt;
                        text-align: left;
                        vertical-align: top;
                        padding-top: 5pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    <img
                        src="{% static 'documents/contract/probation/logo.jpg' %}"
                        alt="Logo"
                        style="width: 104px; height: 80px; display: block"
                        onerror="this.style.display='none'"
                    />
                </td>
                <td
                    rowspan="4"
                    style="
                        width: 227.4pt;
                        text-align: center;
                        vertical-align: middle;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            font-size: 18pt;
                            font-weight: 700;
                            margin-bottom: 5pt;
                        "
                    >
                        THƯ MỜI LÀM VIỆC
                    </p>
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            font-size: 16pt;
                            font-weight: 700;
                        "
                    >
                        (THỬ VIỆC)
                    </p>
                </td>
                <td
                    style="
                        width: 78.6pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    Mã hiệu
                </td>
                <td
                    style="
                        width: 86.9pt;
                        vertical-align: top;
                        font-style: italic;
                        color: #980000;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    ">
                    {{ contract.contract_number|default:contract.code }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 78.6pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    Lần ban hành
                </td>
                <td
                    style="
                        width: 86.9pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    01
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 78.6pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    Ngày ban hành
                </td>
                <td
                    style="
                        width: 86.9pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                ></td>
            </tr>
            <tr>
                <td
                    style="
                        width: 78.6pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    Trang
                </td>
                <td
                    style="
                        width: 86.9pt;
                        vertical-align: top;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        height: 18pt;
                    "
                >
                    01
                </td>
            </tr>
        </table>

        <div style="height: 10pt"></div>

        <p style="margin: 0; padding: 0">
            <span style="font-weight: 700; font-size: 12pt">Kính gửi</span>:
            Anh/Chị
            <span style="font-style: italic; font-size: 12pt; color: #980000">
                {{ contract.employee.fullname }}
            </span>
        </p>
        <div style="height: 10pt"></div>
        <p style="margin: 0; padding: 0; font-weight: 700; font-size: 12pt">
            Chào mừng Anh/ Chị đã đến với Mai Việt Land!
        </p>
        <div style="height: 10pt"></div>
        <p style="margin: 0; padding: 0; text-align: justify; font-size: 12pt">
            Thư mời này được làm vào ngày
            <span style="font-style: italic; color: #980000">{{  contract.sign_date|date:"d/m/Y"  }}</span>
            giữa Công ty Cổ phần Địa Ốc Mai Việt (được gọi là "Người sử dụng lao
            động") và Anh/Chị
            <span style="font-style: italic; color: #980000">{{  contract.employee.fullname  }}</span>
            (được gọi là "Người Lao Động").
        </p>

        <p
            style="
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-weight: 700;
                padding-top: 12pt;
                padding-bottom: 0pt;
                text-align: left;
            "
        >
            1. NGƯỜI SỬ DỤNG LAO ĐỘNG
        </p>
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Công ty
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-weight: 700;
                    "
                >
                    Công ty Cổ Phần Địa Ốc Mai Việt
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Địa chỉ
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Tầng 11 Tháp C, số 219 Phố Trung Kính, Phường Yên Hòa, Quận
                    Cầu Giấy, Thành Phố Hà Nội
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Đại diện theo ủy quyền
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    <p style="margin: 0; padding: 0; font-weight: 700">
                        Ông Nguyễn Vĩnh Toàn
                    </p>
                    <p style="margin: 0; padding: 0; font-style: italic">
                        (Theo Ủy quyền số 40/2023/MV ký ngày 01/03/2023)
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Chức vụ
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Trưởng phòng Hành Chính Nhân Sự
                </td>
            </tr>
        </table>

        <p
            style="
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-weight: 700;
                padding-top: 12pt;
                padding-bottom: 0pt;
                text-align: left;
            "
        >
            2. NGƯỜI LAO ĐỘNG
        </p>
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Họ và Tên
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ contract.employee.fullname }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Ngày sinh
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ contract.employee.date_of_birth|date:"d/m/Y"|default:"" }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Điện thoại
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ contract.employee.phone|default:"" }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Địa chỉ thường trú
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ contract.employee.permanent_address|default:"" }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    CMND/CCCD
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    <span style="font-style: italic; color: #980000">{{  contract.employee.citizen_id|default:""  }}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ngày cấp:
                    <span style="font-style: italic; color: #980000">{{  contract.employee.citizen_id_issued_date|date:"d/m/Y"|default:""  }}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nơi cấp:
                    <span style="font-style: italic; color: #980000">{{  contract.employee.citizen_id_issued_place|default:""  }}</span>
                </td>
            </tr>
        </table>

        <p
            style="
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-weight: 700;
                padding-top: 12pt;
                padding-bottom: 0pt;
                text-align: left;
            "
        >
            3. TRÁCH NHIỆM CÔNG VIỆC
        </p>
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Vị trí/ Chức danh
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ contract.employee.position.name|default:"" }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Phòng ban
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ contract.employee.department.name|default:"" }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Quản lý trực tiếp
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-style: italic;
                        color: #980000;
                    ">
                    {{ direct_manager|default:"" }}
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Trách nhiệm
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Theo mô tả công việc
                </td>
            </tr>
        </table>

        <p
            style="
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-weight: 700;
                padding-top: 12pt;
                padding-bottom: 0pt;
                text-align: left;
            "
        >
            4. THỜI GIAN LÀM VIỆC
        </p>
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Thời hạn
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        text-align: justify;
                    "
                >
                    <span style="font-weight: 700"
                        >Từ ngày
                        <span style="font-style: italic; color: #980000">{{  contract.effective_date|date:"d/m/Y"  }}</span>
                        đến ngày
                        <span style="font-style: italic; color: #980000">{{  contract.expiration_date|date:"d/m/Y"|default:""  }}</span></span
                    >
                    Sau thời gian thử việc nếu đạt các yêu cầu sẽ xem xét ký Hợp
                    đồng lao động theo quy định.
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Thời gian làm việc
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        text-align: justify;
                    "
                >
                    <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                        Thời giờ làm việc tại Công ty là 8h/ngày (từ 8h-17h30;
                        nghỉ trong ngày từ 12h-13h30), 44h/tuần theo sự phân
                        công của Lãnh đạo đơn vị/ Phòng Ban tùy theo tính chất
                        công việc đặc thù được giao, bao gồm nhưng không giới
                        hạn bởi các công việc được giao theo kết quả hoàn thành.
                    </p>
                    <p style="margin: 0; padding: 0">
                        Thông thường công ty nghỉ làm việc vào chiều thứ Bảy,
                        tuy nhiên do yêu cầu của khách hàng và tính chất công
                        việc kinh doanh của công ty, nhân viên một số bộ phận có
                        thể vẫn làm việc bình thường.
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Địa điểm làm việc
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    219 Trung Kính, Yên Hòa, Cầu Giấy, Hà Nội
                </td>
            </tr>
        </table>

        <p
            style="
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-weight: 700;
                padding-top: 12pt;
                padding-bottom: 0pt;
                text-align: left;
            "
        >
            5. CHẾ ĐỘ
        </p>
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Tiếp nhận làm việc dưới hình thức
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        font-weight: 700;
                    "
                >
                    Thử việc
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Tổng thu nhập
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    <span style="font-style: italic; color: #980000">
                        {{ total_income|floatformat:0|default:"0" }}
                    </span>
                    <span style="font-weight: 700"> đồng/tháng.</span>
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Chế độ khác
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    <p style="margin: 0; padding: 0">
                        Đào tạo nâng cao, đào tạo theo vị trí chức danh, đào tạo
                        bổ sung/ nâng cao kiến thức, nghiệp vụ và kỹ năng
                    </p>
                    <p style="margin: 0; padding: 0">
                        Các chế độ sinh hoạt chuyên môn và hoạt động công đoàn
                    </p>
                </td>
            </tr>
        </table>

        <p
            style="
                margin: 0;
                padding: 0;
                font-size: 12pt;
                font-weight: 700;
                padding-top: 12pt;
                padding-bottom: 0pt;
                text-align: left;
            "
        >
            6. THỎA THUẬN KHÁC
        </p>
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin-bottom: 0pt;
            "
        >
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Cam kết
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        text-align: justify;
                    "
                >
                    <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                        Khi đang làm việc cho chúng tôi, Người Lao Động không
                        được phép làm việc thêm cho bất cứ tổ chức nào khác cùng
                        ngành nghề hoạt động với công ty chúng tôi và tuyệt đối
                        không tiết lộ cho bên thứ ba, không sử dụng cho bất cứ
                        mục đích nào khác ngoài nhiệm vụ được giao: những thông
                        tin sản phẩm công nghệ, tài liệu liên quan đến tổ chức,
                        đến hoạt động kinh doanh, tài chính hay chế độ phúc lợi,
                        v.v…
                    </p>
                    <p style="margin: 0; padding: 0">
                        Người lao động đồng ý để người sử dụng lao động khấu trừ
                        một phần lương/ hỗ trợ trong 2 tháng đầu tiên để may và
                        cấp phát đồng phục (Phần khấu trừ sẽ được hoàn trả cho
                        người lao động theo chính sách đã ban hành của Công ty).
                    </p>
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Giải quyết tranh chấp
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        text-align: justify;
                    "
                >
                    Nếu có phát sinh tranh chấp trong quá trình thực hiện, hai
                    bên sẽ cùng nhau thương lượng giải quyết trên tinh thần hợp
                    tác, cùng có lợi. Trường hợp không tự thỏa thuận được thì
                    các bên có quyền yêu cầu Toà án nhân dân có thẩm quyền giải
                    quyết.
                </td>
            </tr>
            <tr>
                <td
                    style="
                        width: 107.8pt;
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                    "
                >
                    Thông báo thời gian chấm dứt
                </td>
                <td
                    style="
                        border: 1pt dotted #000000;
                        padding: 0pt 5.4pt;
                        vertical-align: middle;
                        height: 18pt;
                        text-align: justify;
                    "
                >
                    Trong trường hợp Người sử dụng lao động và Người lao động
                    chưa có sự phù hợp trong công việc, giữa hai bên có thể chấm
                    dứt thử việc, yêu cầu thông báo trước ít nhất 03 (ba) ngày
                    làm việc.
                </td>
            </tr>
        </table>

        <table style="width: 100%; margin-top: 10pt; border: none">
            <tr>
                <td
                    style="
                        width: 50%;
                        border: none;
                        vertical-align: top;
                        text-align: center;
                        font-weight: 700;
                        padding-top: 12pt;
                    "
                >
                    <div
                        style="
                            border: none;
                            border-top: 1pt solid black;
                            padding-top: 5pt;
                            margin-right: -1px;
                        "
                    >
                        NGƯỜI LAO ĐỘNG
                    </div>
                </td>
                <td
                    style="
                        width: 50%;
                        border: none;
                        vertical-align: top;
                        text-align: center;
                        font-weight: 700;
                        padding-top: 12pt;
                    "
                >
                    <div
                        style="
                            border: none;
                            border-top: 1pt solid black;
                            padding-top: 5pt;
                            margin-left: -1px;
                        "
                    >
                        BÊN SỬ DỤNG LAO ĐỘNG
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
