{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    </head>
    <body
        style="
            font-family: 'Times New Roman', Times, serif;
            font-size: 13pt;
            line-height: 1.15;
            color: #000000;
            background-color: #ffffff;
            padding: 40.5pt 72pt 49.5pt 72pt;
            max-width: 451.5pt;
            margin: 0 auto;
        "
    >
        <table
            style="
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20pt;
                margin-left: -5pt;
            "
        >
            <tr>
                <td
                    style="
                        vertical-align: top;
                        padding: 0;
                        text-align: center;
                        width: 45%;
                    "
                >
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-weight: 700;
                            font-size: 11pt;
                        "
                    >
                        CÔNG TY CỔ PHẦN
                    </p>
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-weight: 700;
                            font-size: 11pt;
                        "
                    >
                        ĐỊA ỐC MAI VIỆT
                    </p>
                    <hr
                        style="
                            border: 0;
                            border-top: 1pt solid #000;
                            margin: 2pt auto;
                            width: 124px;
                        "
                    />

                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-weight: 700;
                            font-size: 11pt;
                            margin-top: 5pt;
                        "
                    >
                        &nbsp;
                    </p>
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-size: 13pt;
                            text-align: center;
                        "
                    >
                        Số:
                        <span
                            style="
                                color: #980000;
                                font-style: italic;
                                font-weight: 400;
                            ">{{  contract.contract_number|default:contract.code  }}</span>
                    </p>
                </td>
                <td
                    style="
                        vertical-align: top;
                        padding: 0;
                        text-align: center;
                        width: 55%;
                    "
                >
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-weight: 700;
                            font-size: 11pt;
                        "
                    >
                        CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
                    </p>
                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-weight: 700;
                            font-size: 13pt;
                        "
                    >
                        Độc lập - Tự do - Hạnh phúc
                    </p>
                    <hr
                        style="
                            border: 0;
                            border-top: 1pt solid #000;
                            margin: 2pt auto;
                            width: 200px;
                        "
                    />

                    <p
                        style="
                            margin: 0;
                            padding: 0;
                            margin-bottom: 3pt;
                            font-style: italic;
                            font-size: 13pt;
                            text-align: right;
                            margin-top: 5pt;
                            margin-right: 5pt;
                        "
                    >
                        Hà Nội, ngày {{ contract.sign_date|date:"d" }} tháng {{ contract.sign_date|date:"m" }} năm {{ contract.sign_date|date:"Y" }}
                    </p>
                </td>
            </tr>
        </table>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 18pt;
                font-weight: 700;
                text-align: center;
                margin-top: 10pt;
                margin-bottom: 10pt;
            "
        >
            HỢP ĐỒNG LAO ĐỘNG
        </p>

        <ul
            style="
                padding: 0;
                margin: 0;
                list-style-type: none;
                margin-bottom: 10pt;
            "
        >
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                ><span style="font-style: italic"
                    >Căn cứ vào Bộ Luật Lao Động nước Cộng Hoà Xã Hội Chủ Nghĩa
                    Việt Nam và các văn bản sửa đổi bổ sung, hướng dẫn thi hành
                    Bộ Luật Lao Động năm 2019.</span
                >
            </li>
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                ><span style="font-style: italic"
                    >Căn cứ vào nhu cầu thực tế của các bên.</span
                >
            </li>
        </ul>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-style: italic;
                margin-bottom: 10pt;
            "
        >
            Hôm nay, tại văn phòng Công ty cổ phần địa ốc Mai Việt, chúng tôi
            gồm:
        </p>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-weight: 700;
                padding-left: 14pt;
                margin-top: 10pt;
            "
        >
            NGƯỜI SỬ DỤNG LAO ĐỘNG: CÔNG TY CỔ PHẦN ĐỊA ỐC MAI VIỆT
        </p>
        <div style="padding-left: 14pt">
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Mã số doanh nghiệp: 0108752372
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Địa chỉ: Tầng 11, Tháp C Số 219 Trung Kính, Phường Yên Hòa, Quận
                Cầu Giấy, Hà Nội.
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Điện thoại: 02499 966 656
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Đại diện theo ủy quyền: Ông
                <span style="font-weight: 700">NGUYỄN VĨNH TOÀN</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Chức vụ: Trưởng Phòng Hành Chính Nhân Sự
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                (Theo GUQ số 40/2023/MV ký ngày 01/03/2023)
            </p>
        </div>

        <div style="height: 10pt"></div>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-weight: 700;
                padding-left: 14pt;
            "
        >
            NGƯỜI LAO ĐỘNG: Ông/bà
            <span style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.fullname  }}</span>
        </p>
        <div style="padding-left: 14pt">
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Ngày sinh:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.date_of_birth|date:"d/m/Y"|default:""  }}</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                CMND số:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.citizen_id|default:""  }}</span>
                cấp ngày
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.citizen_id_issued_date|date:"d/m/Y"|default:""  }}</span>
                tại
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.citizen_id_issued_place|default:""  }}</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Địa chỉ thường trú:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.permanent_address|default:""  }}</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Chỗ ở hiện tại:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.residential_address|default:""  }}</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Di động:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.phone|default:""  }}</span>
                &nbsp;&nbsp;&nbsp;&nbsp; Mã số thuế:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.tax_code|default:""  }}</span>
            </p>
        </div>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-style: italic;
                padding-left: 14pt;
                margin-top: 5pt;
            "
        >
            Thỏa thuận ký kết hợp đồng lao động và cam kết thực hiện đúng những
            điều khoản sau đây:
        </p>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 1. CÔNG VIỆC HỢP ĐỒNG
        </p>
        <ul style="padding: 0; margin: 0; list-style-type: none">
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Chức vụ:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.position.name|default:""  }}</span>.
            </li>
        </ul>
        <div style="padding-left: 14pt; text-align: justify">
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Thuộc: Phòng
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.department.name|default:""  }}</span>
                - Khối
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.block.name|default:""  }}</span>
                - Chi nhánh
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.employee.branch.name|default:""  }}</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                Công việc: Thực hiện các công việc theo bản mô tả công việc ở vị
                trí tương đương của công ty theo từng thời kỳ và/ hoặc theo sự
                phân công của ban lãnh đạo công ty.
            </p>
        </div>
        <ul
            style="
                padding: 0;
                margin: 0;
                list-style-type: none;
                margin-top: 5pt;
            "
        >
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Công ty có quyền thay đổi tên gọi chức vụ của Người Lao Động
                hoặc phân công Người Lao Động giữ các vị trí khác có tính chất
                công việc và chức năng tương đương mà không bị xem là sự thay
                đổi công việc theo Hợp đồng lao động của Người Lao Động.
            </li>
        </ul>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 2. THỜI HẠN VÀ ĐỊA ĐIỂM LÀM VIỆC
        </p>
        <div style="text-align: justify">
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                <span style="font-weight: 700">Loại hợp đồng</span>: Hợp đồng
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.duration_display|default:""  }}</span>, từ ngày
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.effective_date|date:"d/m/Y"  }}</span>
                đến ngày
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.expiration_date|date:"d/m/Y"|default:"không xác định"  }}</span>
            </p>
            <p style="margin: 0; padding: 0; margin-bottom: 3pt">
                <span style="font-weight: 700">Địa điểm làm việc</span>: Tầng 11
                Tháp C, số 219 Trung Kính, phường Yên hòa, quận Cầu giấy, Hà Nội
                hoặc các địa điểm khác của Công ty theo quyết định của công ty,
                sau khi đã thông báo cho Người Lao Động.
            </p>
        </div>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 3. CHẾ ĐỘ TIỀN LƯƠNG CỦA NGƯỜI LAO ĐỘNG
        </p>
        <ul
            style="
                padding: 0;
                margin: 0;
                list-style-type: none;
                padding-left: 54pt;
                margin-left: 0;
            "
        >
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span>
                Lương cơ bản:
                <span
                    style="color: #980000; font-style: italic; font-weight: 700">{{  contract.base_salary|floatformat:0|default:"0"  }}</span>
                đồng/tháng
            </li>
        </ul>
        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                padding-left: 54pt;
                font-style: italic;
            "
        >
            (Bằng chữ:
            <span style="color: #980000; font-style: italic; font-weight: 700"
                >....................................................................................</span
            >)
        </p>
        <ul
            style="
                padding: 0;
                margin: 0;
                list-style-type: none;
                padding-left: 54pt;
                margin-left: 0;
            "
        >
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span>
                Hoa Hồng: Theo quy định của Công ty tại từng thời điểm.
            </li>
        </ul>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 4. QUYỀN LỢI VÀ NGHĨA VỤ CỦA CÁC BÊN
        </p>
        <div style="text-align: justify">
            {{ contract.contract_type.rights_and_obligations|default:""|safe }}
        </div>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 5. THỜI GIAN LÀM VIỆC VÀ THỜI GIAN NGHỈ NGƠI
        </p>
        <p style="margin: 0; padding: 0; margin-bottom: 3pt; font-weight: 700">
            5.1 Thời gian làm việc:
        </p>
        <ul style="padding: 0; margin: 0; list-style-type: none">
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Áp dụng từ thứ 2 đến thứ 6 hàng tuần
            </li>
        </ul>
        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                padding-left: 36pt;
            "
        >
            + Sáng: từ 8h00 đến 12h00
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +
            Chiều: từ 13h30 đến 17h30
        </p>

        <ul style="padding: 0; margin: 0; list-style-type: none">
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Áp dụng riêng cho thứ 7 hàng tuần
            </li>
        </ul>
        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                padding-left: 36pt;
            "
        >
            + Sáng: từ 8h00 đến 12h00
        </p>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                text-align: justify;
                margin-top: 5pt;
            "
        >
            Công ty có thể thay đổi ngày làm việc trong tuần hoặc giờ làm việc
            trong ngày tùy theo đặc điểm công việc khi Công ty thấy cần thiết,
            sau khi đã thông báo cho Người Lao Động.
        </p>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-weight: 700;
                margin-top: 5pt;
            "
        >
            5.2 Thời gian nghỉ ngơi:
        </p>
        <ul style="padding: 0; margin: 0; list-style-type: none">
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Nghỉ hàng tuần: Người Lao Động được nghỉ chiều Thứ 7 và Chủ
                Nhật hàng tuần. Công ty có thể bố trí ngày nghỉ hàng tuần vào
                ngày khác nhưng vẫn đảm bảo đủ số ngày nghỉ sau khi đã thông báo
                cho Người Lao Động.
            </li>
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Nghỉ lễ: Người Lao Động được nghỉ các ngày lễ theo quy định của
                Bộ Luật lao động.
            </li>
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Nghỉ hàng năm: Người Lao Động làm việc đủ 12 tháng cho công ty
                theo hợp đồng lao động thì được nghỉ hằng năm hưởng nguyên lương
                12 ngày. Nếu thời gian làm việc chưa đủ 12 tháng thì số ngày
                nghỉ hằng năm sẽ được tính theo tỷ lệ tương ứng với số tháng làm
                việc.
            </li>
            <li
                style="
                    padding-left: 20pt;
                    position: relative;
                    text-align: justify;
                "
            >
                <span style="position: absolute; left: 0; width: 15pt">-</span
                >Các ngày nghỉ được trả lương khác: Người Lao Động được nghỉ ốm,
                nghỉ thai sản được trả lương theo đúng các quy định của pháp
                luật hiện hành.
            </li>
        </ul>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 6. CÁC CHẾ ĐỘ LÀM VIỆC
        </p>
        <div style="text-align: justify">
            {{ contract.contract_type.working_conditions|default:""|safe }}
        </div>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 7. BẢO MẬT
        </p>
        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                text-align: justify;
                padding-left: 36pt;
            "
        >
            Người Lao Động phải tuân thủ nghĩa vụ bảo mật thông tin theo quy
            định tại bản Cam Kết Bảo Mật và các nội quy, quy chế do Công ty ban
            hành trong từng thời kỳ. Vi phạm nghĩa vụ bảo mật thông tin là một
            vi phạm nghiêm trọng và có thể bị xử lý ở mức kỷ luật cao nhất là sa
            thải. Nghĩa vụ bảo mật kinh doanh, bí mật công nghệ có hiệu lực ngay
            cả khi hợp đồng này chấm dứt.
        </p>

        <p
            style="
                margin: 0;
                padding: 0;
                margin-bottom: 3pt;
                font-size: 13pt;
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 12pt;
                margin-bottom: 6pt;
            "
        >
            ĐIỀU 8. ĐIỀU KHOẢN THI HÀNH
        </p>
        <div style="text-align: justify">
            {{ contract.contract_type.terms|default:""|safe }}
        </div>

        <table style="width: 100%; margin-top: 20pt; border: none">
            <tr>
                <td
                    style="
                        width: 50%;
                        text-align: center;
                        vertical-align: top;
                        font-weight: 700;
                    "
                >
                    NGƯỜI LAO ĐỘNG
                </td>
                <td
                    style="
                        width: 50%;
                        text-align: center;
                        vertical-align: top;
                        font-weight: 700;
                    "
                >
                    NGƯỜI SỬ DỤNG LAO ĐỘNG
                </td>
            </tr>
        </table>
    </body>
</html>
