services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/workspace:cached  # cached flag only effect Docker Desktop
    command: sleep infinity # Keep container running
    env_file:
      - ./docker.env
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
